a {
  color: inherit;
  text-decoration: none;
}

.div22:hover, .div21:hover {
  font-weight: 900;
}

#cart li {
  list-style: none;
}

#second {
  background-color: #ECDFB1;
  height: 1155px;
}
#second .orderbtn {
  position: relative;
  width: 100px;
  margin-top: 0px;
  margin-left: 0px;
}
#second .logoheader {
  top: 12px;
  left: 31px;
}
#second .menu {
  width: 100%;
  left: 0px;
}
#second .footer {
  top: 984px;
}
#second .footer-child {
  background-color: rgba(161, 116, 48, 0.3);
}
#second form {
  text-align: center;
}
#second form select {
  padding: 15px;
}
#second form input {
  padding: 15px;
}
#second form button {
  margin-top: 5px;
  padding: 15px;
}

.order {
  width: 100%;
  text-align: center;
}

.teddy-icon {
  width: 1024px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 35px;
}

.cartnav {
  justify-content: flex-end;
  display: flex;
}
.cartnav li {
  cursor: pointer;
  text-align: left;
  list-style: none;
  margin-top: 10px;
  margin-right: 30px;
  padding: 5px 60px 5px 8px;
  background-color: rgba(161, 116, 48, 0.3);
  line-height: 0.8;
}
.cartnav li:hover {
  color: #fff;
}

.cart_title {
  line-height: 1;
  margin-top: 53px;
  font-family: var(--font-pangolin);
  width: 100%;
  text-align: center;
  font-size: 32px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: rgba(83, 30, 0, 0.7);
  margin-top: -30px;
}

.photo {
  width: 900px;
  margin-top: 430px;
  left: 65px;
  margin-right: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 20;
}

.container {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo__buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.photo__buttons .button {
  width: 90px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  font-size: var(--font-size-5xl);
  font-family: var(--font-pangolin);
}
.photo__buttons .button:hover {
  cursor: pointer;
}

.button_color {
  font-weight: 900;
}

.photo__slider {
  position: relative;
  height: 281px;
  overflow-x: hidden;
}

.slider {
  display: flex;
  width: 300%;
  position: absolute;
  left: -100%;
  transition-duration: 3s;
}

.photo__image {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  width: 100%;
  justify-content: space-evenly;
}
.photo__image img {
  height: 281px;
  width: 252px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.arrows {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 100%;
  justify-content: space-between;
  top: calc(50% - 10px);
  opacity: 0;
  transition: all 2s;
}
.slider:hover + .arrows, .arrows:hover {
  opacity: 1;
}

.move_left {
  animation-name: move_left;
  animation-duration: 2s;
}

@keyframes move_left {
  0% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}
.move_right {
  animation-name: move_right;
  animation-duration: 2s;
}

@keyframes move_right {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
.hmenu {
  visibility: hidden;
}

.logos-vert {
  visibility: hidden;
}

.logos-icon {
  top: 850px;
  left: 100px;
  width: 824px;
  height: 88.88px;
}

.bg,
.div2,
.logos-icon {
  position: absolute;
}

.bg {
  top: 0;
  left: 0;
  background-color: rgba(236, 223, 177, 0.7);
  width: 1024px;
  height: 887px;
}

.div2 {
  height: 19.03%;
  width: 85%;
  top: 40.89%;
  left: 6.9%;
  font-weight: 300;
  display: inline-block;
}

.div,
.div3 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 145px;
  height: 247px;
}

.div3 {
  left: 340px;
}

.p {
  margin: 0;
}

.div6,
.div9 {
  position: absolute;
  top: 0;
  left: 682px;
  width: 140px;
  height: 248px;
}

.div9 {
  left: 170px;
  width: 145px;
  height: 247px;
}

.child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}

.child,
.div12,
.div13 {
  position: absolute;
}

.div13 {
  height: 10.48%;
  width: 44.14%;
  top: 41.53%;
  left: 27.59%;
  font-weight: 300;
  display: inline-block;
}

.div12 {
  top: 0;
  left: 512px;
  width: 145px;
  height: 248px;
  text-align: left;
}

.div14,
.parent {
  position: absolute;
  left: 0;
}

.parent {
  top: 51px;
  width: 822px;
  height: 248px;
}

.div14 {
  top: 0;
  font-weight: 300;
  text-align: left;
  text-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
}

.categories,
.div15 {
  position: absolute;
  top: 39px;
  left: 100px;
  width: 822px;
  height: 299px;
}

.div15 {
  top: 0;
  left: 0;
  background-color: var(--color-saddlebrown-200);
  width: 251px;
  height: 281px;
}

.bratzzz-1-icon,
.icon {
  position: absolute;
  height: 43.39%;
  width: 52.38%;
  top: 6.41%;
  right: 47.62%;
  bottom: 50.21%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon {
  height: 95.37%;
  width: 58.73%;
  top: 2.49%;
  right: 0;
  bottom: 2.14%;
  left: 41.27%;
}

.bmw-1,
.bratz,
.cars-1-icon {
  position: absolute;
  top: 75px;
  left: 0;
  width: 252px;
  height: 281px;
}

.bmw-1,
.cars-1-icon {
  top: 18px;
  width: 255px;
  height: 97px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bmw-1 {
  height: 64.77%;
  width: 97.65%;
  top: 34.52%;
  right: 2.35%;
  bottom: 0.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.hotwheels {
  position: absolute;
  top: 75px;
  left: 285px;
  width: 255px;
  height: 281px;
}

.hello-1-icon {
  height: 34.2%;
  width: 59.06%;
  top: 2.49%;
  right: 40.94%;
  bottom: 63.31%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.div17,
.hello-1-icon,
.icon1 {
  position: absolute;
}

.div17 {
  top: 0;
  left: 3px;
  background-color: var(--color-saddlebrown-200);
  width: 251px;
  height: 281px;
}

.icon1 {
  height: 79.72%;
  width: 75.2%;
  top: 19.57%;
  right: 1.18%;
  bottom: 0.71%;
  left: 23.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hellokitty {
  top: 75px;
  left: 573px;
  width: 254px;
  height: 281px;
}

.div18,
.hellokitty,
.new {
  position: absolute;
}

.div18 {
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 132px;
  height: 26px;
  text-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
}

.new {
  top: 396px;
  left: 100px;
  width: 827px;
  height: 356px;
  text-align: left;
  color: var(--color-gray);
}

.div19,
.goods {
  position: absolute;
  left: 0;
  width: 1024px;
}

.goods {
  top: 1003px;
  height: 887px;
  text-align: center;
  color: var(--color-saddlebrown-100);
  background-color: rgba(236, 223, 177, 0.7);
}

.div19 {
  top: 0;
  background-color: #f6ebcc;
  height: 800px;
}

.span {
  font-size: var(--font-size-5xl);
}

.div20 {
  top: 308px;
  left: 100px;
  letter-spacing: -0.09em;
}

.div20,
.icon2,
.slogan {
  position: absolute;
}

.icon2 {
  top: 55px;
  left: 603px;
  width: 420px;
  height: 750px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slogan {
  top: 0;
  left: 0;
  width: 1025.49px;
  height: 814px;
  font-size: 32px;
}

.div21,
.div22,
.div23 {
  position: absolute;
  top: 8px;
}

.div21 {
  left: 180px;
  display: inline-block;
  width: 47px;
  height: 30px;
}

.div22,
.div23 {
  left: 0;
}

.div23 {
  top: 6px;
  left: 7px;
  display: inline-block;
  width: 61px;
  height: 25px;
}

.signup-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(143, 97, 27, 0.4);
  width: 76.39px;
  height: 38px;
}

.signup {
  top: 0;
  left: 407px;
  width: 77px;
  height: 38px;
  color: var(--color-gray);
  font-family: var(--font-montserrat);
}

.div24,
.icon3,
.signup {
  position: absolute;
}

.div24 {
  top: 6px;
  left: 265px;
  font-family: var(--font-montserrat);
  color: var(--color-gray);
  display: inline-block;
  width: 132px;
  height: 26px;
}

.icon3 {
  top: 1px;
  left: 505px;
  width: 41px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
}

.links,
.menu-child {
  position: absolute;
  top: 14px;
  left: 283px;
  width: 546px;
  height: 38px;
}

.menu-child {
  top: 62px;
  left: -89px;
  border-top: 2px solid rgba(83, 30, 0, 0.6);
  box-sizing: border-box;
  width: 1026px;
  height: 2px;
}

.t-ys {
  position: absolute;
  top: 0;
  left: 2px;
  display: inline-block;
  width: 122px;
  height: 62px;
}

.teddylogo-icon {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 26px;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logoheader {
  position: absolute;
  top: 14px;
  left: 10px;
  width: 124px;
  height: 49px;
  font-size: var(--font-size-29xl);
  color: var(--color-gray);
}

.menu {
  position: absolute;
  top: -11px;
  left: 88px;
  width: 849px;
  height: 67px;
  overflow: hidden;
  color: var(--color-saddlebrown-100);
  font-family: var(--font-pangolin);
}

.teddy-logo-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 31px;
  -o-object-fit: cover;
     object-fit: cover;
}

.div25 {
  top: 7px;
  left: 26px;
}

.buy,
.div25,
.div26 {
  position: absolute;
}

.div26 {
  top: 31px;
  left: 26px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
  width: 804px;
  height: 82px;
}

.buy {
  top: 68px;
  left: 0;
  width: 830px;
  height: 113px;
}

.div27 {
  top: 7px;
  left: 20px;
}

.div27,
.div28,
.remote {
  position: absolute;
}

.div28 {
  top: 31px;
  left: 20px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  display: inline-block;
  width: 785px;
  height: 45px;
}

.remote {
  top: 181px;
  left: 0px;
  width: 817px;
  height: 84px;
}

.div29,
.div30 {
  position: absolute;
  top: 7px;
  left: 20px;
}

.div30 {
  top: 38px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
  width: 758px;
  height: 62px;
}

.read {
  top: 277px;
  left: 0;
  width: 919px;
  height: 109px;
}

.b,
.logo,
.read,
.title {
  position: absolute;
}

.b {
  top: 17px;
  left: 0;
}

.logo,
.title {
  height: 62px;
}

.logo {
  top: 0;
  left: 482px;
  width: 124px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-pangolin);
}

.title {
  top: 6px;
  left: 13px;
  width: 688px;
  font-size: var(--font-size-5xl);
}

.aboutus,
.footer-child {
  position: absolute;
  top: 1909px;
  left: 97px;
  width: 919px;
  height: 386px;
}

.footer-child {
  top: -4px;
  left: 0;
  background-color: rgba(236, 223, 177, 0.8);
  width: 1024px;
  height: 175px;
}

.div31,
.div32 {
  position: absolute;
  font-weight: 300;
}

.div31 {
  top: 62px;
  left: 0;
  color: var(--color-saddlebrown-100);
}

.div32 {
  top: 0;
  left: 47px;
  display: inline-block;
  width: 221px;
  height: 26px;
}

.adress,
.adressicon {
  position: absolute;
  left: 0;
}

.adressicon {
  top: 0;
  width: 35px;
  height: 25.67px;
  -o-object-fit: cover;
     object-fit: cover;
}

.adress {
  top: 73px;
  width: 268px;
  height: 46px;
}

.elb00323gbstuby {
  position: absolute;
  top: 0;
  left: 47px;
  font-weight: 300;
}

.mailicon {
  top: 0;
  left: 0;
  width: 35px;
  height: 22.65px;
  -o-object-fit: cover;
     object-fit: cover;
}

.div33,
.e-mail,
.mailicon {
  position: absolute;
}

.e-mail {
  top: 40px;
  left: 0;
  width: 248px;
  height: 24px;
}

.div33 {
  top: 7px;
  left: 47px;
  font-weight: 300;
}

.phone,
.phoneicon {
  position: absolute;
  top: 0;
  left: 0;
}

.phoneicon {
  width: 35px;
  height: 30.76px;
  -o-object-fit: cover;
     object-fit: cover;
}

.phone {
  width: 191px;
  height: 31px;
}

.footercontacs,
.logofooter {
  position: absolute;
  top: 0;
  left: 163px;
  width: 268px;
  height: 119px;
}

.logofooter {
  top: 15px;
  left: -2px;
  width: 124px;
  height: 62px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-pangolin);
}

.footergroup {
  position: absolute;
  top: 25px;
  left: 96px;
  width: 431px;
  height: 119px;
}

.image-5-icon,
.image-6-icon,
.image-7-icon,
.image-8-icon,
.image-9-icon {
  position: absolute;
  top: 0;
  left: 198px;
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-5-icon,
.image-6-icon,
.image-7-icon,
.image-9-icon {
  left: 132px;
}

.image-5-icon,
.image-6-icon,
.image-9-icon {
  left: 66px;
}

.image-5-icon,
.image-9-icon {
  left: 0;
}

.image-9-icon {
  left: 264px;
}

.footer,
.socials {
  position: absolute;
  top: 64px;
  left: 624px;
  width: 299px;
  height: 35px;
}

.footer {
  top: 2348px;
  left: 0;
  width: 1024px;
  height: 171px;
  overflow: hidden;
}

.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 1024px;
  margin: 0px auto;
  height: 2519px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
  font-family: var(--font-montserrat);
}

@media screen and (max-width: 767.5px) {
  .links {
    visibility: hidden !important;
  }
  .hmenu {
    visibility: visible;
  }
  nav {
    display: flex;
    position: relative;
  }
  nav .menu__box {
    display: flex;
    gap: 20px;
    position: fixed;
    visibility: hidden;
    flex-direction: column;
    top: 0px;
    right: -400px;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 40px;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
    transition-duration: 3s;
    z-index: 1000;
  }
  nav li {
    list-style-type: none;
  }
  nav li a {
    text-decoration: none;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 0;
    left: 700px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1001;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }
  #menu-toggle {
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0px;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
}
@media screen and (max-width: 768px) {
  .teddy-icon {
    margin-left: -100px;
  }
  .desktop-1 {
    width: 768px;
    height: 3330px;
  }
  .menu {
    left: 0px;
  }
  .links {
    left: 223px;
  }
  .icon2 {
    width: 474.39px;
    height: 761.7px;
    left: 497px;
    top: 52.3px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .div20 {
    left: 12px;
  }
  .logos-icon {
    left: 8px;
    width: 752px;
    height: 89px;
  }
  .categories {
    left: 13px;
  }
  .div9 {
    top: 1px;
    left: 150px;
  }
  .div3 {
    left: 300px;
  }
  .div12 {
    top: 1px;
    left: 450px;
  }
  .div6 {
    top: 1px;
    left: 600px;
  }
  .new {
    left: 13px;
  }
  .aboutus {
    left: 5px;
  }
  .div26 {
    width: 729px;
  }
  .footergroup {
    left: 16px;
  }
  .socials {
    left: 461px;
  }
  .logos-vert {
    visibility: hidden;
  }
}
@media screen and (max-width: 320px) {
  .teddy-icon {
    margin-left: -300px;
  }
  #second {
    height: 1300px;
  }
  .menu-btn {
    left: 280px;
  }
  .menu__box {
    width: auto !important;
  }
  .desktop-1 {
    width: 320px;
  }
  .links {
    visibility: hidden;
  }
  .div20 {
    width: 273px;
    height: 117px;
  }
  .div19 {
    height: 460px;
  }
  .logos-vert {
    position: absolute;
    visibility: visible;
    left: 65px;
    width: 190px;
    top: 487px;
  }
  .logos-icon {
    visibility: hidden;
  }
  .footer {
    top: 3010px;
    width: 320px;
    height: 320px;
  }
  .footer-child {
    width: 320px;
    height: 320px;
  }
  .footergroup {
    left: 77px;
  }
  .aboutus {
    top: 2254px;
  }
  .footercontacs {
    top: 120px;
    left: -50px;
  }
  .goods {
    width: 320px;
  }
  .bg {
    width: 320px;
    height: 1251px;
  }
  .new {
    top: 866px;
  }
  .div3 {
    left: 0px;
    top: 256px;
  }
  .div6 {
    width: 145px;
    top: 256px;
    left: 150px;
  }
  .div12 {
    left: 75px;
    top: 510px;
  }
  .div18 {
    top: 21px;
  }
  .title {
    left: 13px;
    top: 0px;
    width: 275px;
  }
  .buy {
    top: 112px;
  }
  .remote {
    top: 345px;
    left: 0px;
  }
  .read {
    top: 511px;
    left: 0px;
  }
  .div25, .div27, .div29 {
    left: 29px;
    width: 275px;
    height: 40px;
    line-height: 20px;
    font-size: 16px;
  }
  .div26, .div28, .div30 {
    top: 44px;
    left: 29px;
    width: 288px;
    font-size: 13px;
    line-height: 18px;
  }
  .div30 {
    top: 68px;
  }
  .aboutus {
    left: 0px;
  }
  .logofooter {
    left: 30px;
  }
}/*# sourceMappingURL=index.css.map */